In [38]:
pw = 'PUT POSTGRES PW HERE'
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy.ext.automap import automap_base
import numpy as np

In [4]:
engine = create_engine('postgresql://postgres:'+pw+'@localhost:5433/EmployeeSQL')
inspector = inspect(engine)

In [5]:
inspector.get_table_names()

['employees', 'dept_emp', 'departments', 'dept_manager', 'salaries', 'titles']

In [6]:
columns = inspector.get_columns("salaries")
for column in columns:
    print(column['name'],column['type'])

emp_no INTEGER
salary INTEGER
from_date DATE
to_date DATE

In [10]:
df = pd.DataFrame(engine.execute("SELECT * FROM salaries"))

In [14]:
max_salary = max(df[1])
max_salary

129492

In [16]:
min_salary = min(df[1])
min_salary

40000

In [24]:
bins = [39999,64999,89999,129999]
salary_groups = ['40000 - 64,999','65,000-89,999','90,000-129,999']

In [26]:
df["Salary Groups"] = pd.cut(df[1], bins, labels=salary_groups)
df

       0      1           2           3   Salary Groups
0  10001  60117  1986-06-26  1987-06-26  40000 - 64,999
1  10002  65828  1996-08-03  1997-08-03   65,000-89,999
2  10003  40006  1995-12-03  1996-12-02  40000 - 64,999
3  10004  40054  1986-12-01  1987-12-01  40000 - 64,999
4  10005  78228  1989-09-12  1990-09-12   65,000-89,999

In [40]:
plt.bar(df["Salary Groups"],(df["Salary Groups"]))

NameError: name 'count' is not defined

NameError: name 'count' is not defined